* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-family: 'NotoSansTC', 'Courier New', Courier, monospace;
}

@font-face {
  font-family: 'NotoSansTC';
  src: url(../fonts/NotoSansSC-Regular.otf);
}

@font-face {
  font-family: 'NotoSansTC-Light';
  src: url(../fonts/NotoSansSC-Light.otf);
}

.img {
  position: absolute;
  width: 100%;
}

.deck {
  display: none;
}

.decktext {
  display: none;
}

.phonetext {
  display: block;
}

.wrapper {
  animation: Emerge 3s forwards;
  padding: 10px;
  padding-top: 50px;

  p {
    padding: 10px 25px;
    background-color: transparent;
    color: #777;
  }

  .pimg-wrapper {
    line-height: 50px;
    display: flex;

    .pimg {
      opacity: 0;

      &:nth-of-type(1) {
        animation: Emerge 3s .5s forwards;
      }

      &:nth-of-type(2) {
        animation: Emerge 3s 1s forwards;
      }

      &:nth-of-type(3) {
        animation: Emerge 3s 1.5s forwards;
      }

      img {
        display: block;
        margin: 0 auto;
        width: 50px;
      }
    }
  }

  h2 {
    margin: 20px 25px;
    font-family: 'NotoSansTC-Light', 'Courier New', Courier, monospace;
  }
}

.box {
  opacity: 0;
  animation: Emerge 3s 2s forwards;
  // animation: Emerge .5s forwards;
}

.box2 {
  opacity: 0;
  animation: Emerge 3s 2s forwards;
}

a {
  text-decoration: none;

  button {
    border: none;
    font-size: 24px;
    line-height: 24px;
    // background-color: #333;
    background-color: #fff;
    color: #2960ac;
    border: 1px solid #2960ac;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 40px auto;
    display: block;
    cursor: pointer;

    &:hover {
      background-color: #2960ac;
      color: #fff;

      i {
        color: #addef8;
      }
    }

    i {
      font-size: 24px;
      position: relative;
      color: #2960ac;
      margin-right: 5px;
      animation: fly 5s 3s linear;
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper p {
    padding: 5px 10px;
  }

  a {

    button {
      margin-top: 110px;
    }
  }
}

@media screen and (min-width: 992px) {


  .img {
    display: none;
  }

  .deck {
    display: block;
    position: relative;
    width: 100%;
    // z-index: -1;
  }

  .box2,
  .decktext {
    display: block;
  }

  .box,
  .phonetext {
    display: none;
  }

  .wrapper {
    width: 50%;
    position: absolute;
    left: 45%;
    top: 0;

    h2 {
      font-size: 24px;
    }

    button {
      position: absolute;
      top: 90%;
      left: 15%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .img {
    display: none;
  }

  .deck {
    display: block;
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .wrapper {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 10%;

    h2 {
      font-size: 24px;
    }

    button {
      position: absolute;
      top: 100%;
      left: 15%;
    }
  }
}

@media screen and (min-width: 1600px) {
  .img {
    display: none;
  }

  .deck {
    display: block;
    position: relative;
    width: 100%;
    // z-index: -1;
    display: none;
  }

  .wrapper {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 10%;

    h2 {
      font-size: 24px;
    }

    button {
      position: absolute;
      top: 100%;
      left: 15%;
    }
  }
}

// 3s
@keyframes Emerge {
  0% {
    margin-left: 10px;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

.ha {
  display: block;
}

@keyframes fly {
  0% {
    transform: rotateZ(0deg);
    top: 0;
    left: 0;
  }

  20% {
    transform: rotateZ(0deg);
  }

  25% {
    top: -45px;
    left: 45px;
  }

  30% {
    transform: rotateZ(-180deg);
  }

  50% {
    top: 0;
    left: 0;
    z-index: -1;
  }

  70% {
    transform: rotateZ(-180deg);
  }

  75% {
    top: 40px;
    left: -40px;
  }

  80% {
    transform: rotateZ(-360deg);
  }

  100% {
    transform: rotateZ(-360deg);
    top: 0;
    left: 0;
  }
}